<launch>
  <node name="gmapping" pkg="gmapping" type="slam_gmapping">
    <remap from="scan" to ="scan"/>
    <remap from="map" to ="myMap"/>
  </node>

  <node name="navigate_map" pkg="final" type="navigate_map" output="screen"/>

  <node name="preprocess_map" pkg="final" type="preprocess_map" output="screen"/>

  <node name="postprocess_map" pkg="final" type="postprocess_map" output="screen"/>


</launch>