<launch>
  <node name="gmapping" pkg="gmapping" type="slam_gmapping" output="screen">
    <remap from="scan" to ="scan"/>
    <remap from="map" to ="myMap"/>
  </node>

  <node name="navigate_map" pkg="assignments" type="navigate_map" output="screen"/>

  <node name="preprocess_map" pkg="assignments" type="preprocess_map" output="screen"/>


</launch>